$c-primary: #E6CE8F;
$c-secondary: #FFC899;
$c-tertiary: #FFC3AD;

$c-neutral-100: #FFFFFF;
$c-neutral-90: #BFBFBF;
$c-neutral-80: #7F7F7F;
$c-neutral-60: #4D4D4D;
$c-neutral-0: #0A0A0A;

$c-gold-40: #FDF3E7;
$c-gold-50: #AF9E67;
$c-gold-60: #684A2A;
$c-gold-70: #C78F50;
$c-gold-80: #937251;
$c-gold-90: #7E5E41;