.companies-wrapper {
  margin-bottom: 8.8rem;

  @media (max-width: 1024px) {
    margin-bottom: 4rem;
  }
}

.companies {
  display: flex;
  gap: 1.4rem;
  overflow-x: scroll;

  @media (max-width: 916px) {
    flex-wrap: wrap;
  }

  &__group {
    display: flex;
    gap: 1.4rem;
  }

  &__break {
    display: none;
    
    @media (max-width: 916px) {
      display: block;
      flex-basis: 100%;
      height: 0;
    }
  }

}

.taste-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  margin-bottom: 1.6rem;
  overflow: hidden;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    width: 100%;
    overflow: hidden;

    @media (max-width: 1024px) {
      height: 23rem;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s;
    }

    &:hover img {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
    }
  }
}



.cards {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  margin-bottom: 4.4rem;
  padding-bottom: 1.6rem;

  @media (max-width: 768px) {
    gap: .8rem;
  }

  &__card {
    display: flex!important;
    align-items: center!important;
    flex-direction: column!important;
  }

  &__row {
    display: flex;
    gap: 4.4rem;
  }
  
  &__basket {
    display: none;
    
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      top: 8px;
      left:0;
      cursor: pointer;
    }
  }

  &__picture {
    position: relative;
    overflow: hidden;
    background-color: #F9F9F9;
    padding: 5.1rem 4.6rem 5.1rem 4.7rem;
    cursor: pointer;

    @media (max-width: 768px) {
      min-width: 15.4rem;
      padding: .8rem;
      display: flex;
      height: 23rem;

      & img {
        width: 100%;
        object-fit: contain;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;

      z-index: 10;
      transition: all .4s;
      cursor: pointer;
      background: rgba(249, 249, 249, 0.8);

      @media (max-width: 768px) {
        content: none;
      }
    }

    &:hover::after {
      top: 0;
    }

    & > a {
      position: absolute;
      top: -100%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      z-index: 20;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:hover > a {
      top: 50%;
    }
  }

  &__title {
    color: #32261A;
    text-transform: uppercase;
    max-width: 27.3rem;
    min-height: 3.8rem;
    margin-bottom: .8rem;
    margin-top: 2.6rem;
  }

  &__price {
    color: #684A2A;
  }

  &__quantity {
    color: #7F7F7F;
    text-transform: uppercase;
  }

  &__button {
    margin-top: 4.4rem;
    display: flex;
    justify-content: center;
  }
}

.two-images {

  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 12.8rem 0;
    flex-wrap: nowrap;
  }


  &__column {
    max-width: 71.5rem;

    @media (max-width: 1024px) {
      display: none;
    }


    & img {
      height: auto;
      width: 100%;
    }
  }

  &__steps {
    margin-top: 2.7rem;
    margin-left: -3.2rem;
    background-color: #F7F7F8;
    max-height: 68.2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 47.9rem;

    @media (max-width: 768px) {
      margin: 0;
    }

    @media (max-width: 595px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__step {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: center;
    padding-top: 4.4rem;
    width: 50%;
    //max-width: 300px;

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @media (max-width: 768px) {
      flex-shrink: 1;
    }

    @media (max-width: 595px) {
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }
    }

  }

  &__number {
    width: 6.9rem;
    height: 6.9rem;
    border-radius: 50%;
    background-color: #543507;
    font-weight: 400;
    font-size: 4rem;
    position: relative;
    font-family: 'Playfair Display', sans;
    color: #FFFFFF;
    margin-bottom: .8rem;

    & p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
    }
  }
}

.mosaic-wrapper {
  margin-top: 16.4rem;
  margin-bottom: 6.4rem;

  @media (max-width: 768px) {
    margin-top: 4.4rem;

  }
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.6rem;
  grid-template-areas:
    "photo-1 photo-2 photo-3 photo-10 photo-10 photo-12"
    "photo-4 photo-4 photo-5 photo-10 photo-10 photo-8"
    "photo-4 photo-4 photo-6 photo-7 photo-9 photo-11";

  @media (max-width: 768px) {
    display: none;
  }


  &__photo {
    &:nth-child(1) {
      grid-area: photo-1;
    }

    &:nth-child(2) {
      grid-area: photo-2;
    }

    &:nth-child(3) {
      grid-area: photo-3;
    }

    &:nth-child(4) {
      grid-area: photo-4;
    }

    &:nth-child(5) {
      grid-area: photo-5;
    }

    &:nth-child(6) {
      grid-area: photo-6;
    }

    //
    &:nth-child(7) {
      grid-area: photo-7;
    }

    &:nth-child(8) {
      grid-area: photo-8;
    }

    &:nth-child(9) {
      grid-area: photo-9;
    }

    &:nth-child(10) {
      grid-area: photo-10;
    }

    &:nth-child(11) {
      grid-area: photo-11;
    }

    &:nth-child(12) {
      grid-area: photo-12;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }
}



.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    grid-column: span 2;
  }
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrapper {
  display: none;

  @media (max-width: 768px) {
    display: grid;
  }

  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  padding: 4.4rem 2rem;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
